.container{
    display: grid;
    margin: 20px;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
}
.cell {
    border: 1px solid black;
    padding: 10px;
  }
  .cell-2 {
    background:white;
  }
    .product img{
      height: 100px;
      width: 100px;
    }
    .container{
      display: grid;
      margin: 20px;
      grid-gap: 20px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 5fr 1fr 1fr;
  }
  .cell {
      border: 1px solid black;
      padding: 10px;
    }
    .cell-1 {
      background: yellow;
      height: 10px;
    }
    .cell-2 {
      background:white;
    }
      .product img{
        height: 100px;
        width: 100px;
      }
    .cell-3 {
      background: yellow;
    }
    .cell-4 {
      background: yellow;
    }
  